<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EUniBoard"
        tools:targetApi="31">
        <activity
            android:name=".StartScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignIn" android:screenOrientation="portrait"/>
        <activity android:name=".MainMenu" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollMessage" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollPersonal" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollAccount" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollProgram" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollAdditional" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollEducation" android:screenOrientation="portrait"/>
        <activity android:name=".EnrollCongratulations" android:screenOrientation="portrait"/>
        <activity android:name=".ViewSubjects" android:screenOrientation="portrait"/>
        <activity android:name=".ViewGrades" android:screenOrientation="portrait"/>
        <activity android:name=".ViewFaculty" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterSubject" android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>